html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
  transition-property:width, background-color;

}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 10px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}
.label,
.badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #999999;
}
.label {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.label[data-format="html"],
.label[data-format*="html"] {
  background-color: #55a1ce;
}
.label[data-format="json"],
.label[data-format*="json"] {
  background-color: #ef7100;
}
.label[data-format="xml"],
.label[data-format*="xml"] {
  background-color: #ef7100;
}
.label[data-format="text"],
.label[data-format*="text"] {
  background-color: #74cbec;
}
.label[data-format="csv"],
.label[data-format*="csv"] {
  background-color: #dfb100;
}
.label[data-format="xls"],
.label[data-format*="xls"] {
  background-color: #2db55d;
}
.label[data-format="zip"],
.label[data-format*="zip"] {
  background-color: #686868;
}
.label[data-format="api"],
.label[data-format*="api"] {
  background-color: #ec96be;
}
.label[data-format="pdf"],
.label[data-format*="pdf"] {
  background-color: #e0051e;
}
.label[data-format="rdf"],
.label[data-format*="rdf"],
.label[data-format*="nquad"],
.label[data-format*="ntriples"],
.label[data-format*="turtle"] {
  background-color: #0b4498;
}

.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  /*padding: 14px 80px 18px 36px;*/
  cursor: pointer;
}

.card:hover{
     transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
blockquote {
	font-size: 20px;
	text-transform:uppercase;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 50px;
	padding-left: 15px;
	border-left: 5px solid #66e4b4;
  }
.quote-text{
	border-left: 5px solid #ec96be;
}   

/*Floating Back-To-Top Button*/
.scroll-btn {
	position: fixed;
    bottom: 20px;
    right: 20px; 
	cursor: pointer;
	background-color: coral;
	z-index: 1000;
	opacity: 0.3;


}
/*On Hover Color Change*/
.scroll-btn:hover {
	opacity: 1;

}
body {
	background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
	overflow-y: scroll;
	overflow-x: hidden;
  }

  .ocean { 
	height: 5%;
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
	background: #015871;
  }
  
  .wave {
	background: url(/wave.svg) repeat-x; 
	position: fixed;
  left: 0;
  bottom: 0;
  width: 6400px;
  height: 198px;
  	animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
	transform: translate3d(0, 0, 0);
  }
  
  .wave:nth-of-type(2) {
	top: -175px;
	animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
	opacity: 1;
  }
  
  @keyframes wave {
	0% {
	  margin-left: 0;
	}
	100% {
	  margin-left: -1600px;
	}
  }
  
  @keyframes swell {
	0%, 100% {
	  transform: translate3d(0,-25px,0);
	}
	50% {
	  transform: translate3d(0,5px,0);
	}
  }


.custom-nav-bar {
	opacity: 0.8;
}
.custom-nav-bar:hover {
	opacity: 1;

}